extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-4
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-sm-2.control-label(for='name') Name
      .col-sm-4
        input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
    .form-group
      label.col-sm-2.control-label(for='gender') Gender
      .col-sm-4
        label.radio.col-sm-4
          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Male
        label.radio.col-sm-4
          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Female
    .form-group
      label.col-sm-2.control-label(for='location') Location
      .col-sm-4
        input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
    .form-group
      label.col-sm-2.control-label(for='website') Website
      .col-sm-4
        input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
    .form-group
      label.col-sm-2.control-label(for='gravatar') Gravatar
      .col-sm-4
        img(src="#{user.gravatar()}", class='profile', width='100', height='100')
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Profile

  .page-header
    h3 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-4
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-4
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password
          
  .page-header
    h3 Find Roommates
    h4 Fill this short form so that other people that are looking for roommates can find you.
  form.form-horizontal(role='form', method='POST', action='/account/preferences')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='noise') Noise Level
      .col-sm-8
        input(type="radio", name="noise", value="0", checked=user.preferences.noiseLevel=='0') 
        | Silent
        input(type="radio", name="noise", value="1", checked=user.preferences.noiseLevel=='1') 
        | Moderate
        input(type="radio", name="noise", value="2", checked=user.preferences.noiseLevel=='2') 
        | Noisy
    .form-group
      label(class='col-sm-2 control-label', for='clean') Clean Level
      .col-sm-8
        input(type="radio", name="clean", value="0", checked=user.preferences.cleanLevel=='0') 
        | Messy
        input(type="radio", name="clean", value="1", checked=user.preferences.cleanLevel=='1') 
        | Moderate
        input(type="radio", name="clean", value="2", checked=user.preferences.cleanLevel=='2') 
        | Tidy
    .form-group
      label(class='col-sm-2 control-label', for='music') Music
      .col-sm-8
        input(type="radio", name="music", value="0", checked=user.preferences.musicLover=='0') 
        | Headphones
        input(type="radio", name="music", value="1", checked=user.preferences.musicLover=='1') 
        | Speaker
    .form-group
      label(class='col-sm-2 control-label', for='intrExtr') Introvet/Extrovert
      .col-sm-8
        input(type="radio", name="intrExtr", value="0", checked=user.preferences.intrExtr=='0') 
        | Introvert
        input(type="radio", name="intrExtr", value="1", checked=user.preferences.intrExtr=='1') 
        | Moderate
        input(type="radio", name="intrExtr", value="2", checked=user.preferences.intrExtr=='2') 
        | Extrovert
    .form-group
      label(class='col-sm-2 control-label', for='number') Number of roomies
      .col-sm-2
        input.form-control(type='text', name='mates', id='number' value='#{user.preferences.mates}')
    .form-group
      label(class='col-sm-2 control-label', for='other') A little bit about yourself
      .col-sm-4
        textarea.form-control(type='text', name='other', id='other') #{user.preferences.other}  
    button.btn.btn-success(type='submit') Submit
